@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	min-width: 640px;
	background-color: #eceff1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
